@model IEnumerable<SDCEventTracker.Models.Result>

<h2>@ViewBag.Title</h2>
<hr />
<div class="col-md-12 text-center" style="text-transform: capitalize;">
    <h2>@ViewBag.EventName</h2>
</div>
<h4 style="text-transform: capitalize;">Location: @ViewBag.Location - @ViewBag.City, @ViewBag.State </h4>
<h4>Date: @ViewBag.Date</h4>

<!-- Morning Hunt table results (1) -->
<h3 class="text-info text-center">Monring Hunt</h3>
@if(ViewBag.MorningHunt)
{
<table class="table">
    <tr class="top-row">
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandlerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogID)
        </th>
    </tr>

@foreach (var item in Model) {
    if (item.EventEnum.ID == 1) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handler.FirstName) @Html.DisplayFor(modelItem => item.Handler.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handler.LastName)'s @Html.DisplayFor(modelItem => item.Dog.Name)
        </td>
    </tr>
}
}
</table>
}
<!-- Evening Hunt table results (2) -->
@if (ViewBag.EveningHunt) { 
<h3 class="text-info text-center">Evening Hunt</h3>
<table class="table">
    <tr class="top-row">
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandlerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogID)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.EventEnum.ID == 2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Handler.FirstName) @Html.DisplayFor(modelItem => item.Handler.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Handler.LastName)'s @Html.DisplayFor(modelItem => item.Dog.Name)
                </td>
            </tr>
        }
    }
</table>
}
    @if(ViewBag.BarkingContest)
{
<!-- Barking Contest table results (3) -->
<h3 class="text-info text-center">Barking Contest</h3>
<table class="table">
    <tr class="top-row">
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandlerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogID)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.EventEnum.ID == 3)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Handler.FirstName) @Html.DisplayFor(modelItem => item.Handler.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Handler.LastName)'s @Html.DisplayFor(modelItem => item.Dog.Name)
                </td>
            </tr>
        }
    }
</table>
    }
    @if(ViewBag.BenchShow)
{
<!-- Bench Show table results (4) -->
<h3 class="text-info text-center">Bench Show</h3>
<table class="table">
    <tr class="top-row">
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandlerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogID)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.EventEnum.ID == 4)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Handler.FirstName) @Html.DisplayFor(modelItem => item.Handler.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Handler.LastName)'s @Html.DisplayFor(modelItem => item.Dog.Name)
                </td>
            </tr>
        }
    }
</table>
    }

<div class="col-md-2 pull-right">
    <button type="button" class="btn btn-default">@Html.ActionLink("Back to Competitions", "Competitions")<i class="fa fa-home"></i></button>
</div>
<div class="col-md-2 pull-right">
    <button type="button" class="btn btn-success">@Html.ActionLink("Submit More Results", "SubmitResults", new { id = ViewBag.EventID })</button>
</div>