@model SDCEventTracker.Models.Event

<h2>@ViewBag.Title</h2>
<hr />
<div class="container">
    <div class="col-md-12 text-center" style="text-transform: capitalize;">
        <h2>@Html.DisplayFor(model => model.EventName)</h2>
    </div>


    <div>
        <dl class="dl-horizontal" id="details">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City), @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MorningHunt)
            </dt>

            <dd>
                @YesNo((bool)Model.MorningHunt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EveningHunt)
            </dt>

            <dd>
                @YesNo((bool)Model.EveningHunt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BenchShow)
            </dt>

            <dd>
                @YesNo((bool)Model.BenchShow)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BarkingContest)
            </dt>

            <dd>
                @YesNo((bool)Model.BarkingContest)
            </dd>

        </dl>
    </div>

    <div class="col-md-2 pull-right">
        <button type="button" class="btn btn-default">@Html.ActionLink("Back to Competitions", "Competitions")<i class="fa fa-home"></i></button>
    </div>
    <div class="col-md-2 pull-right">
        <button type="button" class="btn btn-success">@Html.ActionLink("Submit Results", "SubmitResults", "Home", new { id = Model.ID }, null)<i class="fa fa-home"></i></button>
    </div>
</div>

@* YesNo(bool) produces "Yes" or "No" wether or not  *@
@functions{
    public string YesNo(bool val)
    {
         if (val) { return "Yes"; }
        else { return "No"; }
    }
}

