@model IEnumerable<SDCEventTracker.Models.Result>

<h2>@ViewBag.Title</h2>
  
<table class="table">
    <tr id="top-row">
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandlerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handler.FirstName) @Html.DisplayFor(modelItem => item.Handler.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handler.LastName)'s @Html.DisplayFor(modelItem => item.Dog.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventEnum.EventType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

<div class="col-md-2 pull-right">
    <button type="button" class="btn btn-default">@Html.ActionLink("Back to Competitions", "Competitions")<i class="fa fa-home"></i></button>
</div>